/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package biodataola;

import java.util.Scanner;

/**
 *
 * @author Ola Fahrunnisa
 */
public class OlaFahrunnisa {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        
    Scanner input = new Scanner(System.in);
    String nama,kelas,npm,tanggallahir,email;
    
    System.out.print("Masukkan Nama: ");
    nama = input.nextLine();
    
    System.out.print("Masukkan Kelas : ");
    kelas = input.nextLine();
    
    System.out.print("Masukkan NPM : ");
    npm = input.nextLine();
    
    System.out.print("Masukkan Tangga Lahir : ");
    tanggallahir = input.nextLine();
    
    System.out.print("Masukkan e-mail : ");
    email = input.nextLine();
    
    
    System.out.println("Nama Anda               : "+nama);
    System.out.println("Kelas Anda              : "+kelas);
    System.out.println("NPM Anda                : "+npm);
    System.out.println("Tanggal Lahir Anda      : "+tanggallahir);
    System.out.println("E-mail Anda             : "+email);
    }
    
}
